SPRING_DATASOURCE_URL=jdbc:postgresql://aws-0-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.auejxjajyqskrldqnoqg
SPRING_DATASOURCE_PASSWORD=YOUR_SUPABASE_DATABASE_PASSWORD
SPRING_PROFILES_ACTIVE=prod

JWT_SECRET=YOUR_LONG_RANDOM_SECRET

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password

REDIS_HOST=localhost
REDIS_PORT=6379
